/* 
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article,  canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}



/* HTML5 display-role reset for older browsers */

article, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* LAYOUT STYLES */

body {
  font-size: 15px;
  line-height: 1.5; 
  background: #fafafa url(../images/body-bg.jpg) 0 0 repeat;
  font-family: "Microsoft YaHei";
  font-weight: 400;
  color: #666;
}

a {
  color: #2879d0;
}

a:hover {
  color: #2268b2;
}

header {
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: 'Arial'; 
  background: #2e7bcf url(../images/header-bg.jpg) 0 0 repeat-x;
  border-bottom: solid 1px #275da1;
}

header h1 {
  letter-spacing: -1px;
  font-size: 72px;
  color: #fff;
  line-height: 1;
  margin-bottom: 0.2em;
  width: 540px;
}

header h2 {
  font-size: 26px;
  color: #9ddcff;
  font-weight: normal;
  line-height: 1.3;
  width: 540px;
  letter-spacing: 0;
}

.inner {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

#content-wrapper {
  border-top: solid 1px #fff;
  padding-top: 30px;
  padding-left: 0px;
}

.main-content {
  width: 850px;
  float: left;
}

.main-content img {
  max-width: 100%;
}

a.button {
  width: 134px;
  height: 55px;
  font-size: 18px;
  color: #fff;
  padding-top: 18px;
  padding-bottom: 10px;
  padding-right:64px;
  padding-left: 64px;
  display: block;
  font-family: "Arial"; 
  background: transparent url(../images/github-button.png) 0 0 no-repeat;
}

a.button1 {
  width: 138px;
  height: 55px;
  padding-top: 18px;
  padding-bottom: 10px;
  padding-right:64px;
  padding-left: 64px;
  display: block;
  background: transparent url(../images/download-button.png) 0 0 no-repeat;
  color: #fff;
  font-size: 18px;
  font-family: "Arial"; 
}

a.button1 small , a.button small {
  font-size: 14px;
}

code, code1 {
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: #2879d0;
  margin-bottom: 30px;
  font-size: 13px;
}

code {
  background-color: #f2f8fc;
  border: solid 1px #dbe7f3;
}

code1 {
  padding: 20px;
  background: #fff;
  overflow: auto;
  border: solid 1px #f2f2f2;
  background-color: #fff;
}

ul, ol, dl {
  margin-bottom: 20px;
}



/* COMMON STYLES */

hr {
  height: 1px;
  line-height: 1px;
  margin-top: 1em;
  padding-bottom: 1em;
  border: none;
  background: transparent url('../images/hr.png') 0 0 no-repeat;
}

table {
  border: 1px solid #cdcdcd;
}

th {
  font-weight: 500;
}

td {
  border: 1px solid #cdcdcd;
  text-align: center; 
  font-weight: 300;
}

form {
  background: #f2f2f2;
  padding: 20px;
}



/* GENERAL ELEMENT TYPE STYLES */

.main-content {
	margin-top: 15px;
	padding-left: 5em;
	border-style: solid;
	border-color: #7dd1ff;
} 

.main-content .date {
  font-size:12px;
  text-align:right;
  color:#808080;
  padding-right: 10px;
} 

.main-content a1 {
  font-size: 30px;
  letter-spacing: -1px;
  color: #474747;
} 

.main-content a1:before {
  content: "/";
  color: #9ddcff;
  padding-right: 0.3em;
  margin-left: -2.4em;
}

.main-content a2 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #474747;
} 

.main-content a2:before {
  content: "/";
  color: #9ddcff;
  padding-right: 0.3em;
  margin-left: -2.0em;
}

.main-content a3 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 8px;
  color: #474747;
} 
 
.main-content a3:before {
  content: "//";
  color: #9ddcff;
  padding-right: 0.2em;
  margin-left: -1.4em;
}

.main-content a4 {
  font-size: 16px;
  font-weight: bold;
  color: #474747;
} 

.main-content a4:before {
  content: "///";
  color: #9ddcff;
  padding-right: 0.1em;
  margin-left: -0.8em;
}

.main-content a5, .main-content a6 {
  color: #474747;
} 

p {
  margin-bottom: 20px;
}
 
a {
  text-decoration: none;
}

p a {
  font-weight: 400;
}

blockquote {
  font-size: 1.6em;
  border-left: 10px solid #e9e9e9;
  margin-bottom: 20px;
  padding: 0 0 0 30px;
}

ul {
  list-style: disc inside;
  padding-left: 20px;
}

ol {
  list-style: decimal inside;
  padding-left: 3px;
}

dl dd {
  font-style: italic;
  font-weight: 100;
}

footer {
  background: transparent url('../images/hr.png') 0 0 no-repeat;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 13px;
  color: #aaa;
}

footer a {
  color: #666;
}

footer a:hover {
  color: #444;
}

/* MISC */
.clearfix:after {
  clear: both;
  content: '.';
  display: block;
  visibility: hidden;
  height: 0;
}

.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}




/* #Media Queries
================================================== */

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {

  .main-content {
    width: 200px;
  }

}
